body {
  background-image: url("C:\Users\sureh\OneDrive\Desktop\Html sample\download1.jpg");
  background-attachment: fixed;
  width: 800px;
  border: 25px red;
  margin: 10px;
}
.p{
	text-align: center;
}
.h1{
	text-transform: uppercase;
	text-align: center;
}
.Tamil{
	font-family: "Bamini",
	sans-serif;
}
